
<div *ngIf="category">
    <h2><span>Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span>Category Id</span></dt>
        <dd>
            <span>{{category.categoryId}}</span>
        </dd>
        <dt><span>Category Name</span></dt>
        <dd>
            <span>{{category.categoryName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{category.description}}</span>
        </dd>
        <dt><span>Picture</span></dt>
        <dd>
            <div *ngIf="category.picture">
                <a (click)="openFile(category.pictureContentType, category.picture)">
                    <img [src]="'data:' + category.pictureContentType + ';base64,' + category.picture" style="max-width: 100%;" alt="category image"/>
                </a>
                {{category.pictureContentType}}, {{byteSize(category.picture)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
