<div>
    <h2><span>Categories</span>
        <button class="btn btn-primary float-xs-right create-category" [routerLink]="['/', { outlets: { popup: ['category-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Category
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="categories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Category Id</span></th>
            <th><span>Category Name</span></th>
            <th><span>Description</span></th>
            <th><span>Picture</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories ;trackBy: trackId">
                <td><a [routerLink]="['../category', category.id ]">{{category.id}}</a></td>
                <td>{{category.categoryId}}</td>
                <td>{{category.categoryName}}</td>
                <td>{{category.description}}</td>
                <td>
                    <a *ngIf="category.picture" (click)="openFile(category.pictureContentType, category.picture)">
                        <img [src]="'data:' + category.pictureContentType + ';base64,' + category.picture" style="max-height: 30px;" alt="category image"/>
                    </a>
                    <span *ngIf="category.picture">{{category.pictureContentType}}, {{byteSize(category.picture)}}</span>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../category', category.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'category/'+ category.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'category/'+ category.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
