
<div *ngIf="product">
    <h2><span>Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span>Product Id</span></dt>
        <dd>
            <span>{{product.productId}}</span>
        </dd>
        <dt><span>Product Name</span></dt>
        <dd>
            <span>{{product.productName}}</span>
        </dd>
        <dt><span>Product Description</span></dt>
        <dd>
            <span>{{product.productDescription}}</span>
        </dd>
        <dt><span>Product Image</span></dt>
        <dd>
            <div *ngIf="product.productImage">
                <a (click)="openFile(product.productImageContentType, product.productImage)">
                    <img [src]="'data:' + product.productImageContentType + ';base64,' + product.productImage" style="max-width: 100%;" alt="product image"/>
                </a>
                {{product.productImageContentType}}, {{byteSize(product.productImage)}}
            </div>
        </dd>
        <dt><span>Supplier</span></dt>
        <dd>
            <div *ngIf="product.supplierId">
                <a [routerLink]="['supplier', product.supplierId]">{{product.supplierId}}</a>
            </div>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <div *ngIf="product.categoryId">
                <a [routerLink]="['category', product.categoryId]">{{product.categoryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
