

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productId">Product Id</label>
            <input type="number" class="form-control" name="productId" id="field_productId"
                [(ngModel)]="product.productId"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                [(ngModel)]="product.productName"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productDescription">Product Description</label>
            <input type="text" class="form-control" name="productDescription" id="field_productDescription"
                [(ngModel)]="product.productDescription"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productImage">Product Image</label>
            <div>
                <img [src]="'data:' + product.productImageContentType + ';base64,' + product.productImage" style="max-height: 100px;" *ngIf="product.productImage" alt="product image"/>
                <div *ngIf="product.productImage" class="form-text text-danger clearfix">
                    <span class="pull-left">{{product.productImageContentType}}, {{byteSize(product.productImage)}}</span>
                    <button type="button" (click)="product.productImage=null;product.productImageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, product, 'productImage', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="productImage" id="field_productImage"
                [(ngModel)]="product.productImage"
             />
            <input type="hidden" class="form-control" name="productImageContentType" id="field_productImageContentType"
                [(ngModel)]="product.productImageContentType" />
        </div>

        <div class="form-group">
            <label for="field_supplier">Supplier</label>
            <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="product.supplierId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="supplierOption.id" *ngFor="let supplierOption of suppliers; trackBy: trackSupplierById">{{supplierOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="product.categoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
